#table-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    .table-container{
        

        img{
            width: 153px;
            height: 267px;
        }

        .player-title-text{
            text-transform: capitalize;
            position: absolute;
            top: -25px;
            left: 10px;
            z-index: 2;
            background: linear-gradient(to right, #b3958e,  #ac8f89);
            padding: 7px;
            border: none;

        }

        &-player,
        &-com{
            border: 3px solid black;
            margin-bottom: 50px;
            width: 90vw;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 1rem;
            position: relative;
        }

        &-com{
            margin-bottom: 0px;
        }

    }
}